

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.parent {
  
  display: flex;
  justify-items: center;
  align-items: center;
  min-height: 70vh;
  background-image: url("https://i.ibb.co/Ld2JW7M/back1.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 10rem;
  font-family: 'Roboto', sans-serif;
  justify-content: space-evenly;
}

.left-div {
  margin: 20px;
}
.left-div > a {
  margin-top: 10px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 20px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding: 18px 45px;
  letter-spacing: 1px;
  border: none;

  background: linear-gradient(to left, #d51c4a 50%, #d3637f 50%) right;
  background-size: 200%;
  transition: 0.4s ease-out;
}
.left-div > a:hover {
  background-position: left;
  color: #7c0825;
  background-color: white;
}

.left-div > p {
  font-size: 20px;
  margin-bottom: 30px;
}
.image{
  text-align: center;
  justify-content: center;
  position: relative;
  top: -18px;
 
}
.middle-div {
  width: 36rem;
  margin: 20px;
}
.right-div {
  margin: 20px;
}

@media (max-width: 1000px) {
  .parent {
    flex-direction: column;
  }
}
