<div class="productsCard">
  <!-- <img
    [src]="product.image"
    alt="{{ product.productName }}"
    width="250px"
    class="card-img-top"
  />

  <div class="card-body">
    <h5 class="card-title">{{ product.productName | titlecase }}</h5>
    <p class="card-text">{{ product.price | currency: "ILS" }}</p>
  </div>
  <div class="card-footer">
    <a
      *ngIf="!isAddToCartBtnClicked && !this.stateService.isAdmin"
      class="btn btn-primary btn-block"
      (click)="isAddToCartBtnClicked = true"
      >ADD</a
    >
    <a
      *ngIf="!isAddToCartBtnClicked && this.stateService.isAdmin"
      class="btn btn-primary btn-block"
      (click)="onEditClick(product)"
      (click)="this.stateService.isManageProductClicked = true"
      >Manage</a
    >
    <div *ngIf="isAddToCartBtnClicked">
      <div>
        Amount:<input
          type="number"
          min="1"
          onkeydown="return false"
          [(ngModel)]="amount"
          #itemAmount
        />
      </div>
      <button [value]="amount" (click)="onOkClick(product)">Ok</button>
      <button (click)="isAddToCartBtnClicked = false">Cancel</button>
    </div>
  </div> -->

  <div class="wrapper">
    <div class="container">
      <div class="top">
        <div (click)="onEditClick(product)" style="text-align: end;" *ngIf="this.stateService.isAdmin" class="buy"><i class="far fa-edit"></i>
        </div>
        <img [src]="product.image" alt="{{ product.productName }}" width="500px" class="card-img-top" />
      </div>
      <div class="bottom" [ngClass]="{'clicked': buyClass==true}">
        <div class="left">
          <div class="details">
            <p>{{ product.productName | titlecase }}</p>
            <!-- <p style="color:darkgrey; font-size: 15px;">{{ product.categoryName.toUpperCase() }}</p> -->
            <div class="price"><p style="font-size: 17px;">Price:</p><p  class="product-price">{{ product.price }}₪</p></div>
            
          </div>

          
        </div>
        <div *ngIf="!this.stateService.isAdmin" class="buttonDiv">
  
          <button class="btn" (click)="onMinusClick()">-</button>
          <input maxlength="3" onkeypress="return false;" type="number" style="text-align: center; width:50px; height:30px;" [(ngModel)]="amount" />
          <button class="btn"  (click)="onPlusClick()">+</button>
          <div *ngIf="amount" class="done"> <button [value]="amount" class="ok-btn" (click)="onOkClick(product)">
            ADD</button></div>



        </div>
      </div>
    </div>
  </div>





</div>

